.ServicePageWrapperMain {
}
@media screen and (max-width: 576px) {
  .ServicePageWrapperMain {
    display: none !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .ServicePageWrapperMain {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .ServicePageWrapperMain {
    display: none !important;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
