.HomePage10main {
    background: var(--Ash-background, #fbfbfb);
    padding: 3rem 0;
    margin-top: 5rem;
  }
  
  .HomePage10parent {
      text-align: center;
      width: 50%;
  }
  
  .HomePage10parent h6 {
    color: var(--Primary-color, #ab0e12);
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
  }
  
  .HomePage10parent h2 {
    color: var(--Black, #222);
    text-align: center;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px; /* 120% */
  }
  
  .HomePage10parent p {
    color: var(--Black, #222);
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
  
  }
  