.HomePage6Main {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .HomePage6Main {
    margin-top: 5rem;
    flex-direction: column !important;
    text-align: center;
    /* justify-content: center; */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Main {
    margin-top: 5rem;
    flex-direction: column !important;
    text-align: center;
    /* justify-content: center; */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage6Parent {
}

.HomePage6Parent h6 {
  color: var(--Primary-color, #ab0e12);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}

@media screen and (max-width: 576px) {
  .HomePage6Parent h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Parent h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage6Parent h2 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
  width: 70%;
}

@media screen and (max-width: 576px) {
  .HomePage6Parent h2 {
    font-size: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Parent h2 {
    font-size: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage6Parent h2 {
    font-size: 20px;
    line-height: 28px;
    /* width: 100%; */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage6Parent h2 {
    font-size: 20px;
    line-height: 28px;
    /* width: 100%; */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .HomePage6Parent h2 {
    font-size: 26px;
    line-height: 32px;
    /* width: 100%; */
  }
}
@media screen and (max-width: 576px) {
  .HomePage6Parent img {
    height: 40vh;
    /* width: 100%; */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Parent img {
    height: 40vh;
    /* width: 100%; */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage6Parent img {
    height: 40vh;
    /* width: 100%; */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage6Child {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .HomePage6Child {
    width: 100%;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Child {
    width: 100%;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage6SubChild {
  display: flex;
  gap: 15px;
}

.HomePage6Sister h6 {
  color: var(--Black, #222);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}

@media screen and (max-width: 576px) {
  .HomePage6Sister h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Sister h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage6Sister h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage6Sister p {
  color: var(--Black, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}

@media screen and (max-width: 576px) {
  .HomePage6Sister p {
    font-size: 13px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Sister p {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage6Sister p {
    font-size: 14px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage6Sister p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

@media screen and (max-width: 576px) {
  .HomePage6Image img {
    height: 40px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage6Image img {
    height: 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
