.HomePage4Main {
  margin-top: 5rem;
}

.HomePage4Parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.HomePage4Parent h6 {
  color: var(--Primary-color, #ab0e12);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}
@media screen and (max-width: 576px) {
  .HomePage4Parent h6 {
    font-size: 21px;
    line-height: 25.2px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage4Parent h2 {
  color: var(--Black, #222);

  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
@media screen and (max-width: 576px) {
  .HomePage4Parent h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage4Parent h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage4Parent h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage4Parent h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .HomePage4Parent h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.HomePage4Parent p {
  color: var(--Black, #222);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}
@media screen and (max-width: 576px) {
  .HomePage4Parent p {
    font-size: 13px;
  }
}  
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage4Parent p {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage4Parent p {
    font-size: 15px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage4Parent p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
