.sidebar {
  width: 100%;
  margin-top: 0rem;
  border-radius: 4px;
  background: var(--white, #fff);
  padding: 1rem 1rem;
  height: 70vh;
  margin-left: -5rem;

  position: sticky;
  top: 0;
  max-height: 100vh;
  z-index: 0;
}

.NewSideBar {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.sidebar h2 {
  color: var(--Black, #222);

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 150% */
}
.sidebar p {
  color: var(--Black, #222);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}

.sidebarChild {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.sidebarBro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebarBro p {
  color: var(--Black, #222);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
  width: 80%;
}

.sideBarButton {
  margin-top: 3rem;
}
.sideBarButton a {
  text-decoration: none !important;
}
