
.DataList {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    margin-top: 3rem;
  }
  
  .DataListChild {
    width: 100%;
    border-radius: 4px;
    background: var(--Blue, #09244b);
    box-shadow: -1px 0px 5px 0px rgba(7, 21, 41, 0.1);
    width: 100%;
    /* height: 15vh; */
    padding: 1rem 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .DataListSister {
    display: flex;
    gap: 10px;
  }
  
  .DataListSister p {
    color: var(--Color-of-text-on-blue, #fff9f9);
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.6px; /* 160% */
    width: 60%;
  }
  .SelectedThree {
    background: #ab0e12;
  }

  .HomePage11img{
    display: flex;
   }
   
   .HomePage11img{
       justify-content: right !important;
   }