.HomePage5Main {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.HomePage5Parent {
  display: flex !important;
  gap: 10px;
}
.HomePage5Parent p {
  color: var(--Ash, #7d7c7c);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}
.Selected {
  color: var(--Primary-color, #ab0e12) !important;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.ProductListChild {
  width: 100%;
  border-radius: 4px;
  background: var(--Blue, #09244b);
  box-shadow: -1px 0px 5px 0px rgba(7, 21, 41, 0.1);
  width: 24%;
  height: 20vh;
  padding: 2rem 2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProductListChild p {
  color: var(--Color-of-text-on-blue, #fff9f9);
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.6px; /* 160% */
}
.SelectedTwo {
  background: #ab0e12;
}


.HomePage5img{
 display: flex;
}

.HomePage5img{
    justify-content: right !important;
}

.HomePage5Button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}