.HomePage3Main {
  margin-top: 5rem;
}
@media screen and (max-width: 576px) {
}
@media screen and (min-width: 577px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage3Parent {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
}
@media screen and (max-width: 576px) {
  .HomePage3Parent {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage3Parent {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

@media screen and (max-width: 576px) {
  .HomePage3ImageParent img {
    height: 40vh !important;
    width: 100% !important;
    /* object-fit: cover !important; */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage3ImageParent img {
    height: 50vh !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage3ImageParent img {
    height: 50vh !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage3ImageParent img {
    height: 50vh !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .HomePage3ImageParent img {
    height: 70vh !important;
    width: 100% !important;
  }
}

.HomePage3Child {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .HomePage3Child {
    width: 100% !important;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center !important;
    justify-content: center !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage3Child {
    width: 100% !important;
    margin-top: 3rem;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage3Child {
    width: 50% !important;
    margin-top: 3rem;
    /* text-align: center; */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.HomePage3Child h6 {
  color: var(--Primary-color, #ab0e12);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
}
@media screen and (max-width: 576px) {
  .HomePage3Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage3Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage3Child h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage3Child h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .HomePage3Child h6 {
    font-size: 20px;
  }
}

.HomePage3Child h2 {
  color: var(--Black, #222);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34.4px;
}
@media screen and (max-width: 576px) {
  .HomePage3Child h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage3Child h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage3Child h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage3Child h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .HomePage3Child h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.HomePage3Child p {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
}
@media screen and (max-width: 576px) {
  .HomePage3Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .HomePage3Child p {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .HomePage3Child p {
    font-size: 15px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .HomePage3Child p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
