.HomePage4Main {
  margin-top: 5rem;
}

.HomePage4Parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.HomePage4Parent h6 {
  color: var(--Primary-color, #ab0e12);
  font-family: "Montserrat";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}
.HomePage4Parent h3 {
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
.HomePage4Parent p {
  color: var(--Black, #222);
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}
