.Service1main {
  margin-top: 5rem !important;
}

.Service1Parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .Service1Parent {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Service1Parent {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.Service1Parent h1 {
  color: var(--Black, #222);

  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 57.6px;
  width: 65%;
}
@media screen and (max-width: 576px) {
  .Service1Parent h1 {
    font-size: 30px;
    line-height: 40px;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Service1Parent h1 {
    font-size: 30px;
    line-height: 40px;
    width: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Service1Parent h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Service1Parent h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Service1Parent h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .Service1ParentImgWeb {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Service1ParentImgWeb {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
