.Service2Main {
  width: 60%;
}
@media screen and (max-width: 576px) {
  .Service2Main {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Service2Main {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.Service2Main h6 {
  color: var(--Primary-color, #ab0e12);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}
@media screen and (max-width: 576px) {
  .Service2Main h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Service2Main h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Service2Main h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Service2Main h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Service2Main h6 {
    font-size: 20px;
  }
}

.Service2Main h2 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
@media screen and (max-width: 576px) {
  .Service2Main h2 {
    font-size: 20px;
    line-height: 26.4px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Service2Main h2 {
    font-size: 20px;
    line-height: 26.4px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Service2Main h2 {
    font-size: 24px;
    line-height: 26.4px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Service2Main h2 {
    font-size: 26px;
    line-height: 26.4px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Service2Main h2 {
    font-size: 28px;
    line-height: 26.4px; /* 120% */
  }
}

.Service2Main p {
  color: var(--Ash, #7d7c7c);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}
@media screen and (max-width: 576px) {
  .Service2Main p {
    font-size: 13px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Service2Main p {
    font-size: 14px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Service2Main p {
    font-size: 14px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Service2Main p {
    font-size: 15px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
