.Service2Main {
    width: 60%;
   }
   .Service2Main h6 {
     color: var(--Primary-color, #ab0e12);
     font-family: "Montserrat";
     font-size: 21px;
     font-style: normal;
     font-weight: 600;
     line-height: 25.2px; /* 120% */
   
   }
   .Service2Main h2 {
     color: var(--Black, #222);
     font-family: "Montserrat";
     font-size: 32px;
     font-style: normal;
     font-weight: 600;
     line-height: 38.4px; /* 120% */
   
   }
   .Service2Main p {
     color: var(--Ash, #7d7c7c);
     font-family: "Montserrat";
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 25.6px; /* 160% */
   
   }
   