.BlogTheMain {
  margin-bottom: 5rem;
}

.BlogResources {
  margin-top: 5rem;
}

.BlogResources h2 {
  color: var(--Black, #222);

  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 57.6px; /* 120% */
}
@media screen and (max-width: 576px) {
  .BlogResources h2 {
    color: var(--Black, #222);
    font-size: 24px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogResources h2 {
    color: var(--Black, #222);
    font-size: 26px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .BlogResources h2 {
    color: var(--Black, #222);
    font-size: 28px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .BlogResources h2 {
    color: var(--Black, #222);
    font-size: 32px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .BlogResources h2 {
    color: var(--Black, #222);
    font-size: 36px;
  }
}

.BlogGrand {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around !important;
  align-items: center;
  margin-top: 8rem;
}
@media screen and (max-width: 576px) {
  .BlogGrand {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogGrand {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .BlogGrand {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .BlogGrand {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.BlogGrandChild {
  border-radius: 20px;
  border: 0px solid var(--white, #fff);
  background: #f2f2f2;
  padding: 0.1rem 0.8rem;
}
@media screen and (max-width: 576px) {
  .BlogGrandChild {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogGrandChild {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .BlogGrandChild {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .BlogGrandChild {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
.BlogGrandChild h6 {
  margin: 0;
  cursor: pointer;

  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}
@media screen and (max-width: 576px) {
}
@media screen and (min-width: 577px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.BlogParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 1rem;
}
@media screen and (max-width: 576px) {
  .BlogParent {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogParent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .BlogParent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .BlogParent {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.BlogParent a {
  text-decoration: none;
  border-radius: 8px;
  background: var(--White, #fff);
  box-shadow: 2px 2px 8px 0px rgba(7, 21, 41, 0.05);
  margin-top: 1rem !important;
  padding: 0.5rem;
}

.BlogChild {
  width: 100%;
  padding: 0;
}
.BlogImage {
  text-align: center !important;
  align-items: center;
  border-radius: 8px;
  width: 100% !important;
  object-fit: cover !important;
}
@media screen and (max-width: 576px) {
  .BlogImage {
    height: 30vh;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogImage {
    height: 30vh;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.BlogBrother {
  margin-top: 1rem;
}

.BlogBrother h6 {
  color: var(--Primary-color, #ab0e12);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
@media screen and (max-width: 576px) {
  .BlogBrother h6 {
    font-size: 12px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogBrother h6 {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.BlogBrother h2 {
  color: var(--Black, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 133.333% */
}
@media screen and (max-width: 576px) {
  .BlogBrother h2 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogBrother h2 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .BlogBrother h2 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .BlogBrother h2 {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .BlogBrother h2 {
    font-size: 15px;
    line-height: 25px;
  }
}

.BlogBrother p {
  color: var(--Ash, #7d7c7c);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 200% */
}
@media screen and (max-width: 576px) {
  .BlogBrother p {
    font-size: 12px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogBrother p {
    font-size: 13px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .BlogBrother p {
    font-size: 13px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .BlogBrother p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .BlogBrother p {
    font-size: 14px;
  }
}

.BlogSister {
  gap: 10px;
  display: flex;
  /* align-items: center; */
}

@media screen and (max-width: 576px) {
  .BlogSister {
    /* align-items: center !important; */
  }
}
.BlogSister p {
  color: var(--Primary-color, #ab0e12);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
@media screen and (max-width: 576px) {
  .BlogSister p {
    font-size: 13px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .BlogSister p {
    font-size: 13px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

@media screen and (max-width: 576px) {
  .BlogSister img {
    /* height: 20px; */
  }
}

.Pagination {
  text-align: center !important;
  margin-top: 3rem;
}

.PaginationMain {
  gap: 20px !important;
  display: flex;
  justify-content: center;
}
.PaginationButtonA {
  border-radius: 4px;
  background: var(--Primary-color, #ab0e12);
  color: var(--white, #fff);
  font-size: 16px !important;
  padding: 0.5rem 1rem;
  border-radius: 8px !important;
  border: 0px solid #ab0e12;
}
@media screen and (max-width: 576px) {
}
@media screen and (min-width: 577px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
