.BlogResources {
  margin-top: 5rem;
}

.BlogResources h2 {
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 57.6px; /* 120% */
}

.BlogGrand {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around !important;
  align-items: center;
  margin-top: 8rem;
}

.BlogGrandChild {
  border-radius: 20px;
  border: 0px solid var(--white, #fff);
  background: #f2f2f2;
  padding: 0.1rem 0.8rem;
}

.BlogGrandChild h6 {
  margin: 0;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}

.BlogParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 1rem;
}

.BlogParent a {
  text-decoration: none;
  border-radius: 8px;
  background: var(--White, #fff);
  box-shadow: 2px 2px 8px 0px rgba(7, 21, 41, 0.05);
  margin-top: 1rem !important;
  padding: 0.5rem;
}

.BlogChild {
  width: 100%;
  padding: 0;
}
.BlogImage {
  text-align: center !important;
  align-items: center;
  border-radius: 8px;
  width: 100% !important;
  object-fit: cover !important;
}

.BlogBrother {
  margin-top: 1rem;
}

.BlogBrother h6 {
  color: var(--Primary-color, #ab0e12);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.BlogBrother h2 {
  color: var(--Black, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.BlogBrother p {
  color: var(--Ash, #7d7c7c);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 200% */
}

.BlogSister {
  gap: 10px;
  display: flex;
  /* align-items: center; */
}
.BlogSister p {
  color: var(--Primary-color, #ab0e12);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.Pagination {
  text-align: center !important;
  margin-top: 3rem;
}

.PaginationMain {
  gap: 20px !important;
  display: flex;
  justify-content: center;
}
