.ButtonMain button {
  border-radius: 4px;
  background: var(--Primary-color, #ab0e12);

  color: var(--white, #fff);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 0.5rem 1rem;
  border: 0px solid #ab0e12;
}
