.ButtonThreeMain button {
  border-radius: 4px;
  border: 1px solid var(--Primary-color, #ab0e12);
  color: var(--Primary-color, #ab0e12);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background: #fff;
  padding: 0.5rem 1.5rem;
}
