.Product1Main {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.Product1Parent {
  width: 40%;
}
.Product1Parent h6 {
  color: #54bd95;
  font-family: "Montserrat";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
}
.Product1Parent h2 {
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
.Product1Parent p {
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}
.ProductButton {
  display: flex;
  gap: 20px;
  margin-top: 2rem !important;
}

/* .ProductButton1 button {
  background: #54bd95 !important;
}
.ProductButton2 button {
    border: 1px solid #54bd95 !important;
    color: #54BD95 !important;
} */
