.Product2Main {
  width: 50%;
  margin-top: 5rem;
}
@media screen and (max-width: 576px) {
  .Product2Main {
    width: 100%;
    margin-top: 5rem;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product2Main {
    width: 80%;
    margin-left: 10%;
    margin-top: 5rem;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

/* .Product2Main h6 {
  color: var(--Primary-color, #54bd95);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; 
} */
@media screen and (max-width: 576px) {
  .Product2Main h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product2Main h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product2Main h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product2Main h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product2Main h6 {
    font-size: 20px;
  }
}

.Product2Main h2 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
@media screen and (max-width: 576px) {
  .Product2Main h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product2Main h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product2Main h2 {
    font-size: 22px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product2Main h2 {
    font-size: 24px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product2Main h2 {
    font-size: 26px;
    line-height: 30px; /* 120% */
  }
}

.Product2Main p {
  color: var(--Ash, #7d7c7c);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}
@media screen and (max-width: 576px) {
  .Product2Main p {
    font-size: 13px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product2Main p {
    font-size: 13px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product2Main p {
    font-size: 14px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product2Main p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product2Main p {
    font-size: 15px;
  }
}

.Product2 {
  margin-top: 3rem;
}

.Product2Child {
  width: 98%;
  border-radius: 8px;
  padding: 2rem;
  border-radius: 8px;
  background: var(--Black, #222);
  box-shadow: 2px 2px 8px 0px rgba(7, 21, 41, 0.05);
  text-align: center;
  min-height: 40vh !important;
}
.Product2Child h6 {
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}
@media screen and (max-width: 576px) {
  .Product2Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product2Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product2Child h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product2Child h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product2Child h6 {
    font-size: 20px;
  }
}

.Product2Child p {
  color: var(--Ash, #7d7c7c);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}
@media screen and (max-width: 576px) {
  .Product2Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product2Child p {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product2Child p {
    font-size: 14px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product2Child p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product2Child p {
    font-size: 15px;
  }
}
