.Product5Main {
  margin-top: 5rem;
  padding: 3rem 0;
  background: var(--Ash-background, #fbfbfb);
}
@media screen and (max-width: 576px) {
}
@media screen and (min-width: 577px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.Product5Pareent {
  text-align: center;
}
.Product5Pareent h6 {
  color: #54bd95;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}
@media screen and (max-width: 576px) {
  .Product5Pareent h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product5Pareent h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product5Pareent h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product5Pareent h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product5Pareent h6 {
    font-size: 20px;
  }
}

.Product5Pareent h2 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
@media screen and (max-width: 576px) {
  .Product5Pareent h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product5Pareent h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product5Pareent h2 {
    font-size: 24px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product5Pareent h2 {
    font-size: 26px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product5Pareent h2 {
    font-size: 28px;
    line-height: 30px; /* 120% */
  }
}

.Product5Pareent p {
  color: var(--Black, #222);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
  width: 40%;
  margin-left: 30%;
}
@media screen and (max-width: 576px) {
  .Product5Pareent p {
    font-size: 13px;
    line-height: 20px; /* 160% */
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product5Pareent p {
    font-size: 13px;
    line-height: 20px; /* 160% */
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product5Pareent p {
    font-size: 13px;
    line-height: 20px; /* 160% */
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product5Pareent p {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
