.Product7Main {
  /* margin-top: 5rem; */
  background: #54bd95;
  padding: 3rem 0;
}
 
.Product7Parent {
  text-align: center;
  width: 50%;
}
.Product7Parent h6 {
  color: var(--white, #fff);
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}
.Product7Parent h2 {
  color: var(--Ash-background, #fbfbfb);
  text-align: center;
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}

.Product7Child {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 3rem;
}

.Product7Bro button {
  background: var(--white, #fff) !important;
  color: #54bd95 !important;
}
.Product7Sis button {
  border: 1px solid var(--white, #fff) !important;
  color: #fff !important;
  background: #54bd95 !important;
}
