.Product9aScrollContainer {
}

.Product9aMain {
  margin-top: 3rem;
}

.Product9aChild {
  width: 100%;
  border-radius: 4px;
  padding: 1rem 10rem 0rem 1rem;
  margin-top: 2rem;
}

.Product9aSister {
  display: flex;
  gap: 10px;
}

.Product9aSister p {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
