.Product9Main {
  text-align: center;
  width: 50%;
  padding: 5rem 0;
}

@media screen and (max-width: 576px) {
  .Product9Main {
    width: 100%;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product9Main {
    width: 100%;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product9Main {
    width: 60%;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.Product9Main h6 {
  color: #54bd95;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}

@media screen and (max-width: 576px) {
  .Product9Main h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product9Main h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product9Main h6 {
    font-size: 18px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product9Main h6 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product9Main h6 {
    font-size: 20px;
  }
}

.Product9Main h2 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}

@media screen and (max-width: 576px) {
  .Product9Main h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product9Main h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product9Main h2 {
    font-size: 24px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product9Main h2 {
    font-size: 26px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product9Main h2 {
    font-size: 28px;
    line-height: 30px; /* 120% */
  }
}

.Product9Main p {
  color: var(--Black, #222);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}

@media screen and (max-width: 576px) {
  .Product9Main p {
    font-size: 13px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product9Main p {
    font-size: 13px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product9Main p {
    font-size: 14px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product9Main p {
    font-size: 14px;
    line-height: 20px; /* 160% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product9Main p {
    font-size: 15px;
    line-height: 20px; /* 160% */
  }
}
