.Product3GrandMain {
    background: var(--Ash-background, #FBFBFB);
    padding: 5rem;
    margin-top: 5rem;
}

.Product3Parent {
  text-align: center;
}
.Product3Parent h6 {
  color: #54bd95;
  font-family: "Montserrat";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}
.Product3Parent h2 {
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
.Product3Parent p {
  color: var(--Black, #222);
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}


.Product3MainChild {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

}

.Product3Child {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 2px 2px 8px 0px rgba(7, 21, 41, 0.05);
    width: 30%;
    padding: 2rem 1rem;
    text-align: center;
}
.Product3Child h6{
    color: var(--Black, #222);
    font-family: "Montserrat";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px; /* 120% */
    padding-top: 1.5rem;
}
.Product3Child p{
    color: var(--Ash, #7D7C7C);
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
}