.Product15Main {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

@media screen and (max-width: 576px) {
  .Product15Main {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product15Main {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

@media screen and (max-width: 576px) {
  .Product15Child img {
    height: 40vh;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product15Child img {
    height: 40vh;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product15Child img {
    height: 40vh;
    width: 100%;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product15Child img {
    height: 40vh;
    width: 100%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product15Child img {
    height: 60vh;
    width: 100%;
  }
}

.Product15Parent {
  width: 40%;
}

@media screen and (max-width: 576px) {
  .Product15Parent {
    width: 100%;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product15Parent {
    width: 100%;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product15Parent {
    width: 50%;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product15Parent {
    width: 60%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.Product15Parent h6 {
  /* color: #54bd95; */
  color: var(--Black, #222);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 150% */
}

@media screen and (max-width: 576px) {
  .Product15Parent h6 {
    font-size: 16px;
    line-height: 20px; /* 150% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product15Parent h6 {
    font-size: 16px;
    line-height: 20px; /* 150% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product15Parent h6 {
    font-size: 18px;
    line-height: 20px; /* 150% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product15Parent h6 {
    font-size: 18px;
    line-height: 20px; /* 150% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product15Parent h6 {
    font-size: 20px;
    line-height: 20px; /* 150% */
  }
}

.Product15Parent h2 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}

@media screen and (max-width: 576px) {
  .Product15Parent h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product15Parent h2 {
    font-size: 20px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product15Parent h2 {
    font-size: 24px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product15Parent h2 {
    font-size: 26px;
    line-height: 30px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product15Parent h2 {
    font-size: 28px;
    line-height: 30px; /* 120% */
  }
}

.Product15Parent p {
  color: var(--Black, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
  padding-top: 1rem;
}

@media screen and (max-width: 576px) {
  .Product15Parent p {
    font-size: 13px;
    line-height: 20px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Product15Parent p {
    font-size: 13px;
    line-height: 20px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .Product15Parent p {
    font-size: 14px;
    line-height: 20px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .Product15Parent p {
    font-size: 14px;
    line-height: 20px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Product15Parent p {
    font-size: 15px;
    line-height: 20px; /* 120% */
  }
}
