.Product6Main {
  display: flex;
  justify-content: space-between;
  background: var(--Ash-background, #fbfbfb);
  padding: 2rem 0;
 }

.Product6Parent {
  border-radius: 8px;
  background: var(--white, #fff);
  display: flex;
  padding: 0.5rem;
  gap: 10px;
  width: 19%;
  justify-content: center;
}
.Product6Parent h6 {
  color: #191a15;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}
