.Product4Main {
  margin-top: 2rem;
  padding: 3rem 0;
}

.Product4Child {
  text-align: center;
}
.Product4Child h6 {
  color: #54bd95;
  font-family: "Montserrat";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}
.Product4Child h2 {
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}
.Product4Child p {
  color: var(--Black, #222);
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}


.Product4Sister {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items:center ;
}

.Product4SubSis {
    width: 40%;
}
.Product4SubSis h2{
    color: #191A15;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px; /* 120% */
}
.Product4SubBro {
    margin-top: 2rem;
}

.Product4SubBro h6{
    color: var(--Black, #222);
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px; /* 120% */
}
.Product4SubBro p{
    color: var(--Inactive-text, #BBB);
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
}

.Product4ButtonMain button{
    background: #54bd95 !important;

} 