.About9Main {
  background: var(--Ash-background, #fbfbfb);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.About9Parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .About9Parent {
    flex-direction: column !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About9Parent {
    flex-direction: column !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.About9Child {
  width: 40%;
}

@media screen and (max-width: 576px) {
  .About9Child {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About9Child {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.About9Child h6 {
  color: var(--Primary-color, #ab0e12);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}

@media screen and (max-width: 576px) {
  .About9Child h6 {
    font-size: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About9Child h6 {
    font-size: 24px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About9Child h6 {
    font-size: 24px;
    line-height: 36px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .About9Child h6 {
    font-size: 26px;
    line-height: 36px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .About9Child h6 {
    font-size: 28px;
    line-height: 36px; /* 120% */
  }
}

.About9Child h2 {
  color: var(--Black, #222);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
}

@media screen and (max-width: 576px) {
  .About9Child h2 {
    font-size: 16px;
    line-height: 26px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About9Child h2 {
    font-size: 16px;
    line-height: 26px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About9Child h2 {
    font-size: 18px;
    line-height: 26px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .About9Child h2 {
    font-size: 18px;
    line-height: 26px; /* 120% */
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .About9Child h2 {
    font-size: 20px;
    line-height: 26px; /* 120% */
  }
}

.About9Child p {
  color: var(--Black, #222);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .About9Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About9Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About9Child p {
    font-size: 14px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .About9Child p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .About9Child p {
    font-size: 15px;
  }
}

.About9Child h3 {
  color: var(--Black, #222);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}

@media screen and (max-width: 576px) {
  .About9Child h3 {
    font-size: 16px;
    line-height: 25.2px; /* 120% */
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About9Child h3 {
    font-size: 16px;
    line-height: 25.2px; /* 120% */
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About9Child h3 {
    font-size: 16px;
    line-height: 25.2px; /* 120% */
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.About9Bro {
  width: 40%;
  border-radius: 4px;
  background: var(--white, #fff);
  box-shadow: 5px 4px 24px 0px rgba(7, 21, 41, 0.1);
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 576px) {
  .About9Bro {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About9Bro {
    width: 80%;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.About9Bro form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.About9Bro form input {
  margin-top: 1.5rem;
  color: #bbb;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
}
.About9Bro form textarea {
  margin-top: 1.5rem;
  height: 20vh;
  /* padding: 5rem 0; */
  color: #bbb;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
}
.About9Bro form button {
  margin-top: 1.5rem;
}
