.About7Main {
  margin-top: 5rem;
}

.About7Parent {
  text-align: center;
  width: 50%;
}
.About7Parent h6 {
  color: var(--Primary-color, #ab0e12);
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}
.About7Parent h2 {
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px; /* 120% */
  text-align: center;
}
.About7Parent p {
  color: var(--Ash, #7d7c7c);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
  text-align: center;
}

.About7Child {
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 3rem;
}
.About7Sis {
  width: 30%;
  text-align: center;
}
.About7Sis h6 {
  padding-top: 1rem;
  color: var(--Black, #222);
  font-family: "Montserrat";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}
.About7Sis p {
    color: var(--Ash, #7D7C7C);
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.About6Bro {
   text-align: center;
}

.About6SubChild {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    justify-content: center;
}
.About7Sis1 {
    width: 32%;
    text-align: center;
  }
  .About7Sis1 h6 {
    padding-top: 1rem;
    color: var(--Black, #222);
    font-family: "Montserrat";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px; /* 120% */
  }
  .About7Sis1 p {
      color: var(--Ash, #7D7C7C);
      text-align: center;
      font-family: "Montserrat";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; 
      width: 80%;
      margin-left: 10%;
  }