.About8Main {
    margin-top: 5rem;
  }
  
  .About8Parent {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .About8Child {
    width: 50%;
  }
  .About8Child h6 {
    color: var(--Primary-color, #ab0e12);
    font-family: "Montserrat";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px; 
  }
  .About8Child h2{
      color: var(--Black, #222);
      font-family: "Montserrat";
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 38.4px;
  }
  .About8Child p{
      color: #222;
      font-family: "Montserrat";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 25.6px;
  }
  