.About3Main {
  background: #09244b;
  margin-top: 5rem;
  padding: 5rem 0;
}

.About3Parent {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .About3Parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About3Parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.About3Child {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 4px 24px 0px rgba(7, 21, 41, 0.1);
  width: 24%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .About3Child {
    width: 48%;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About3Child {
    width: 48%;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
.About3Child h2 {
  color: var(--white, #fff);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px;
}
@media screen and (max-width: 576px) {
  .About3Child h2 {
    font-size: 24px;
    line-height: 38.4px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About3Child h2 {
    font-size: 26px;
    line-height: 38.4px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
.About3Child p {
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
