.About2Main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.About2Parent {
    width: 35%;
}
.About2Parent h6{
    color: var(--Primary-color, #AB0E12);
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.About2Parent h2{
    color: #222;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px; 
}
.About2Child  {
    width: 40%;
}

.About2Child p{
    color: var(--Ash, #7D7C7C);
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; 
}