.About4Main {
  margin-top: 5rem;
}

.About4Parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .About4Parent {
    display: flex;
    flex-direction: column !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About4Parent {
    display: flex;
    flex-direction: column !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
@media screen and (max-width: 576px) {
  .About4Image img {
    height: 40vh !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About4Image img {
    height: 40vh !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About4Image img {
    height: 40vh !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .About4Image img {
    height: 40vh !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .About4Image img {
    height: 50vh !important;
    width: 100% !important;
  }
}

.About4Child {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .About4Child {
    width: 100%;
    margin-top: 1rem;
    text-align: center !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About4Child {
    width: 100% !important;
    margin-top: 1rem;
    text-align: center !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.About4Child h6 {
  color: var(--Primary-color, #ab0e12);
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
}
@media screen and (max-width: 576px) {
  .About4Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About4Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About4Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .About4Child h6 {
    font-size: 16px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
.About4Child h2 {
  color: var(--Black, #222);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38.4px;
}
@media screen and (max-width: 576px) {
  .About4Child h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About4Child h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About4Child h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .About4Child h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .About4Child h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
.About4Child p {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
}
@media screen and (max-width: 576px) {
  .About4Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .About4Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .About4Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .About4Child p {
    font-size: 13px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
