.NavGrandMain {
  background: linear-gradient(
    97deg,
    rgba(2, 14, 23, 0.81) 45%,
    rgba(11, 37, 57, 0.09) 92.83%
  );
}

.NavbarMain {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.Parent {
  /* margin-left: 10rem; */
}

.NavItem {
  margin-left: 1.5rem;
}
.NavItem a {
  color: var(--white, #fff);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}
.NavItem a:hover {
  color: var(--white, #fff) !important;
}
.NavItem a:focus {
  color: var(--white, #fff) !important;
}
.NavItem a:active {
  color: var(--white, #fff) !important;
}

.NavItem ul li a {
  color: var(--white, #000);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}

.dropdown {
  margin-left: 1.5rem;
}
.dropdown a {
  color: var(--white, #fff);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}
.dropdown a:hover {
  color: var(--white, #fff) !important;
}
.dropdown a:focus {
  color: var(--white, #fff) !important;
}
.dropdown a:active {
  color: var(--white, #fff) !important;
}
.dropdown ul li a {
  color: var(--white, #000);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 160% */
}
.dropdownmenu div {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 16px;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .dropdownmenu ul {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 12px;
    overflow: hidden;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 922px) {
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}

.dropdownmenu ul li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-right: 3rem;
}

.NavItem ul li a:hover {
  /*  */
  background: linear-gradient(
    97deg,
    rgba(2, 14, 23, 0.81) 45%,
    rgba(11, 37, 57, 0.09) 92.83%
  ) !important;
}
.dropdownmenu ul li a:hover {
  background: linear-gradient(
    97deg,
    rgba(2, 14, 23, 0.81) 45%,
    rgba(11, 37, 57, 0.09) 92.83%
  ) !important;
}
