.footerMainParent {
  padding-bottom: 2rem !important;
  margin-top: 0rem;
  background: #212121;
}

@media screen and (max-width: 576px) {
  .footerMainParent {
    text-align: center !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerMainParent {
    text-align: center !important;
  }
}

.footerMain {
  display: flex;
  min-height: 80vh;
  justify-content: space-between !important;
}

@media screen and (max-width: 576px) {
  .footerMain {
    flex-direction: column;
    min-height: 80vh;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerMain {
    flex-direction: column;
    min-height: 80vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 922px) {
  .footerMain {
    display: flex;
    min-height: 80vh;
  }
}

.footerParent {
  margin-top: 6rem;
  width: 30%;
}

@media screen and (max-width: 576px) {
  .footerParent {
    width: 100%;
    margin-left: 0rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerParent {
    width: 100%;
    margin-left: 0rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 922px) {
  .footerParent {
    width: 65%;
    margin-left: 0rem;
    margin-top: 6rem;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .footerParent {
    width: 65%;
    margin-left: 0rem;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 576px) {
  .footerParent img {
    height: 30px !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerParent img {
    height: 30px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 922px) {
  .footerParent img {
    height: 35px !important;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .footerParent img {
    height: 35px !important;
  }
}

.footerParent p {
  color: var(--white, #fff);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}

.footerIcons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

@media screen and (max-width: 576px) {
  .footerIcons {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerIcons {
    display: none;
  }
}

.footericons2 {
  display: flex;
  flex-wrap: wrap;
}

.footericons2 img {
  padding-left: 0rem !important;
  padding-right: 0.5rem !important;
  cursor: pointer;
}

.footerChildren {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 6rem;
  padding-left: 10rem !important;
}

@media screen and (max-width: 576px) {
  .footerChildren {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100% !important;
    margin-top: 2rem;
    padding-left: 0rem !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerChildren {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100% !important;
    margin-top: 3rem;
    padding-left: 0rem !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 922px) {
  .footerChildren {
    width: 100% !important;
    margin-top: 6rem;
    padding-left: 0rem !important;
    display: flex !important;
  }
}
@media screen and (min-width: 923px) and (max-width: 1200px) {
  .footerChildren {
    width: 100% !important;
    margin-top: 6rem;
    padding-left: 0rem !important;
    display: flex !important;
  }
}

.footerChild {
  padding-left: 6rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 576px) {
  .footerChild {
    padding-left: 0rem !important;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerChild {
    padding-left: 0rem !important;
    padding-bottom: 0rem;
    padding-bottom: 1rem;
  }
}
.footerChild h3 {
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /* 120% */
}

@media screen and (max-width: 576px) {
  .footerChild h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    text-align: left;
    /* color: var(--blue-blue-500, #1c233d); */
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerChild h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: left;
    /* color: var(--blue-blue-500, #1c233d); */
  }
}

.footerChild p {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
}

.footerLink {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.footerLink:hover {
  color: #c30a17;
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .footerChild p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: left;
    /* color: var(--blue-blue-500, #1c233d); */
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerChild p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: left;
    color: #fafafa;
  }
}

.footerChild a {
  text-decoration: none;
}

.footerIconsMobile {
  display: none !important;
}

.footerIconsMobile:hover {
  color: #c30a17;
}

@media screen and (max-width: 576px) {
  .footerIconsMobile {
    display: unset !important;
    display: flex !important;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerIconsMobile {
    display: unset !important;
    display: flex !important;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 576px) {
  .footericons2 .img {
    height: 30px !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footericons2 .img {
    height: 30px !important;
  }
}

.footerCopyright {
  width: 100% !important;
  border-top: 1px solid var(--white, #fff);
}
.footerCopyrightFlex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .footerCopyright {
    width: 100% !important;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerCopyright {
    width: 100% !important;
  }
}

.footerCopyrightFlex p {
  padding-top: 2rem;
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

@media screen and (max-width: 576px) {
  .footerCopyrightFlex p {
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footerCopyrightFlex p {
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;

    padding-top: 1rem;
  }
}
